body {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    min-height: 100vh;
}

/* Р¤РёРєСЃРёСЂСѓРµРј РїРѕР·РёС†РёСЋ body, РєРѕС‚РѕСЂСѓСЋ РјРµРЅСЏРµС‚ РїР°РЅРµР»СЊ РіСѓРіР»Р°*/

.page_fix {
    top: 0 !important;
    position: static !important;
}

/* РџСЂСЏС‡РµРј РїР°РЅРµР»СЊ РіСѓРіР»Р° */

.skiptranslate {
    display: none !important;
}

/* language */

.language {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.language__img {
    margin: 2px;
    cursor: pointer;
    opacity: .5;
}

.language__img:hover,
.language__img_active {
    opacity: 1;
}

/* content */

.content {
    text-align: center;
    margin: auto;
}
